@import '../../styles/variables.scss';

.numberBoardRoot {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.numberInput {
	flex-basis: 20%;
	max-width: 3rem;
	height: 3rem;
	margin: 0.6rem;

	outline: none;
	user-select: none;
	background: none;

	font-size: 1.3rem;
	color: $foreground_nom;
	border-radius: 50%;
	border: 2px solid rgba(white, 0.12);

	&.numberInputFilled {
		color: $primary_color;
	}

	&:hover {
		color: $foreground_high;
		border-color: $primary_color;
		background-color: rgb($primary_color, 0.2);
	}

	&:focus {
		color: $foreground_high;
		border-color: $primary_color;
		background-color: rgba($primary_color, 0.4);
	}

	&.numberInputActive {
		color: $on_primary;
		border-color: $primary_color;
		background-color: $primary_color;
		box-shadow: 0 0 30px 5px rgba($primary_color, 0.6);
	}
}
