@import './variables';

body {
	color: $foreground_nom;
	background-color: $background_color;
}

.app {
	width: 100vw;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
	margin: auto;
	max-width: 600px;
}

.number_input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.input_cell {
	flex-basis: 20%;
	max-width:  3rem;
	height: 3rem;
	margin: 0.6rem;

	outline: none;
	user-select: none;
	background: none;

	font-size: 1.2rem;
	color: $foreground_nom;
	border-radius: 50%;
	border: 2px solid rgba(white, 0.12);

	@media screen and (min-width: $min_large_device_width) {
		transition: all 0.2s ease;		
	}

	&:hover {
		color: $foreground_high;
		border-color: $primary_color;
		background-color: rgb($primary_color, 0.2);
	}

	&:focus {
		color: $foreground_high;
		border-color: $primary_color;
		background-color: rgba($primary_color, 0.4);
	}

	&.active {
		color: $on_primary;
		border-color: $primary_color;
		background-color: $primary_color;
		box-shadow: 0 0 30px 5px rgba($primary_color, 0.6);
	}
}
