@import './variables';

@font-face {
	font-family: 'Neon Future';
	src: url('../assets/fonts/neon_future.ttf');
}

*::selection {
	background-color: rgba($primary_color, 0.3);
}

body {
	color: $foreground_nom;
	background-color: $background_color;
}

.app {
	width: 100vw;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 90%;
	max-width: 600px;
	min-height: 100vh;
	margin: auto;
}

.time {
	margin: 0.6rem 0;
}

@media screen and (min-width: $min_large_device_width) {
	.input_btn {
		transition: all 0.2s ease;
	}
}

@media screen and (max-width: $min_large_device_width) {
	* {
		transition: none !important;
		box-shadow: none !important;
	}
}
