@import './variables.scss';

.sudoku_svg {
	max-width: 500px;
	margin: 3rem 0;

	border-radius: 1rem;
	border: 2px solid rgba(white, 0.025);
	background-color: rgba(white, 0.025);
	backdrop-filter: blur(28px);
	
	&.active {
		border-color: rgba($primary_color, 0.1);
		background-color: rgba($primary_color, 0.05);

		box-shadow:
			0 0 15px 5px rgba($primary_color, 0.05),
			0 0 30px 10px rgba($primary_color, 0.05);
	}

	@media screen and (min-width: $min_large_device_width) {
		& {
			transition: all 0.2s ease;
		}
	}
}

.sudoku_cell_g {
	@media screen and (min-width: $min_large_device_width) {
		circle, text {
			transition: all 0.4s ease;
		}
	}

	circle {
		fill: transparent;
	}

	text {
		user-select: none;
		fill: $foreground_high;
		font-size: 0.9rem;
		text-anchor: middle;
		dominant-baseline: central;
	}

	&.unmodifiable {
		circle {
			fill: rgba(white, 0.1);
			stroke: rgba(white, 0.1);
			stroke-width: 0.5;
		}
	}

	&.highlighted {
		circle {
			fill: rgba($primary_color, 1);
		}
		text {
			fill: $on_primary;
		}
	}

	&.incorrect {
		text {
			fill: $error_color;
		}
	}

	&.highlighted.incorrect {
		circle {
			fill: rgba($error_color, 0.2);
		}
	}
}
