.container {
	width: calc(4rem * 6);
	margin: 0.6rem 0;

	display: flex;
	gap: 1.2rem;
	justify-content: center;
	flex-wrap: wrap;
}

.button {
	width: 3rem;
	height: 3rem;
	outline: none;
	user-select: none;
	background: none;

	font-size: 1.3rem;
	color: hsla(var(--foreground));
	border-radius: 50%;
	border: 2px solid rgba(white, 0.12);
	transition: all 0.2s ease;
	cursor: pointer;

	&.filled {
		color: hsl(var(--primary_color));
	}

	&:hover {
		color: hsl(var(--primary_color));
		border-color: hsla(var(--primary_color), 0.2);
		background-color: hsla(var(--primary_color), 0.2);
	}

	&:focus-visible {
		color: hsla(var(--foreground_high));
		border-color: hsl(var(--primary_color));
		background-color: hsla(var(--primary_color), 0.4);
	}

	&.active {
		color: hsl(var(--on_primary));
		border-color: hsl(var(--primary_color));
		background-color: hsl(var(--primary_color));
		box-shadow: 0 0 30px 5px hsla(var(--primary_color), 0.6);
	}
}
