@import '@/styles/variables.scss';

.sudokuCell {
	width: 1.5rem;
	height: 1.5rem;
	padding: 4px;

	display: grid;
	place-content: center;
	position: relative;

	user-select: none;
	border-radius: 50%;
	font-size: 0.9rem;
	cursor: pointer;

	@media only screen and (min-width: $min_large_device_width) {
		width: 2rem;
		height: 2rem;
		font-size: 1.2rem;
		transition: all 0.2s ease;
	}

	@media only screen and (min-width: 520px) {
		width: 2.5rem;
		height: 2.5rem;
		font-size: 1.2rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.05);
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 20%;
	}

	&.unmodifiable {
		cursor: default;
		border: 1px solid rgba(white, 0.1);
		background-color: rgba(white, 0.1);
	}

	&.focused::before {
		border: 1px solid rgba(white, 0.1);
		background-color: rgba(white, 0.06);
	}

	&.highlighted {
		color: $on_primary;
		background-color: rgba($primary_color, 1);
	}

	&.highlighted.focused::before {
		border: 1px solid rgba($primary_color, 0.5);
		background-color: rgba($primary_color, 0.2);
	}

	&.incorrect {
		color: $error_color;
	}

	&.incorrect.focused::before {
		border: 1px solid rgba($error_color, 0.2);
		background-color: rgba($error_color, 0.1);
	}

	&.highlighted.incorrect {
		background-color: rgba($error_color, 0.2);
	}

	&.gameComplete {
		background-color: rgba(white, 0.1);
	}

	@media screen and (min-width: $min_large_device_width) {
		transition: all 0.4s ease;
	}
}
